.block {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  border-radius: @border-radius--block;
  overflow: hidden;

  &--white {
    background-color: white;
  }

  &--bottom-radius-none {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
}
