.page-footer {
  background-color: white;
  border-top-left-radius: @border-radius--section;
  border-top-right-radius: @border-radius--section;
}

.page-footer__social {
  .social__link {
    background-color: #ffd74b;
    width: 45px;
    height: 45px;
  }

  .social__item {
    margin: 0;
  }
}
