.social {
  &--on-white {
    @color: #cccccc;
  }

  &--footer {
    .social__link {
      background-color: #ffd74b;
      width: 45px;
      height: 45px;
    }

    .social__item {
      margin: 0;
    }
  }
}

.social__list {
  padding: 0;
  list-style: none;
  display: flex;
}

.social__item {
  margin: 0 12px;
}

.social__link {
  display: block;
  width: 21px;
  height: 21px;
  background-color: gray;
  border-radius: 50%;
}

@media (min-width: @tablet-width) {
  .social {
    &--on-white {
      .social__item {
        margin-left: 0;
        margin-right: 35px;
      }

      .social__link {
        width: 28px;
        height: 28px;
      }
    }

    &--footer {
      justify-content: space-between;

      .social__link {
        width: 60px;
        height: 60px;
      }
    }
  }
}
