.steps {
  position: relative;
  background-color: #161c35;
  font-size: 18px;
  font-weight: bold;
  color: #161c35;
  text-align: left;
}

.steps__list {
  list-style: none;
  margin: 0;
  padding: 0;
  counter-reset: item;
}

.steps__text {
  width: 145px;
  margin: 0;
}

.steps__item {
  .bordered;
  .container;
  box-sizing: border-box;
  margin-top: -@border-radius--block;
  position: relative;
  counter-increment: item;
  padding: @padding-content;
  padding-top: 23px;
  padding-bottom: 25px + @border-radius--block;
  vertical-align: middle;

  &::after {
    position: absolute;
    display: block;
    content: counter(item);
    right: 30px;
    top: 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }

  &:not(:last-child) {
    .bottom-radius-none;
  }

  &:nth-child(1) {
    background-color: #ff8d30;
  }

  &:nth-child(2) {
    background-color: #ffa530;
  }

  &:nth-child(3) {
    background-color: #ffbd30;
  }

  &:nth-child(4) {
    background-color: #ffd74b;
    padding-bottom: 25px;
  }
}

@media (min-width: @tablet-width) {
  .steps {
    font-size: 24px;
  }

  .steps__list {
    display: flex;
    flex-wrap: wrap;
    .bordered;
    width: auto;
    align-items: stretch;
  }

  .steps__item {
    width: 50%;
    border-radius: 0;
    margin: 0;
    padding: 31px;
    padding-bottom: 62px;

    &:nth-child(2n-1) {
      width: ~"calc(50% + @{border-radius--block})";
    }

    &:nth-child(2n) {
      width: 50%;
      margin-left: -@border-radius--block;
    }

    &:nth-child(2) {
      border-top-left-radius: @border-radius--block;
    }

    &:nth-child(4) {
      border-bottom-left-radius: @border-radius--block;
    }
  }

  .steps__text {
    width: 210px;
  }
}

@media (min-width: @desktop-width) {
  .steps__list {
    width: 1352px;
    margin: auto;
  }

  .steps__item {
    border-radius: 0;
    margin: 0;
    padding: 31px;

    &:nth-child(1) {
      width: 331px + @border-radius--block;
    }

    &:nth-child(4) {
      width: 331px;
    }

    &:not(:nth-child(1)) {
      margin-left: -@border-radius--block;
      border-top-left-radius: @border-radius--block;
      border-bottom-left-radius: @border-radius--block;
    }

    &:nth-child(2),
    &:nth-child(3) {
      width: 345px + @border-radius--block;
    }
  }
}
