.layer-above--block {
  margin-top: @border-radius--block * (-1);
}

.block {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  border-radius: @border-radius--block;
  overflow: hidden;
}

.bottom-radius-none {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.container {
  display: flex;
  flex-grow: 1;
  padding: 0 25px;
  flex-wrap: wrap;
}
